In [4]:
leap_year=[]

start_year = int(input("Enter Year Start :"))
end_year = int(input("Enter Year End"))

for year in range (start_year, end_year+1):
    if( year % 400 == 0 ) or (year % 4 == 0 and year % 100 != 0):
        leap_year.append(year)

print(f"Start Year : {start_year}")
print(f"End Year : {end_year}")
print(f"Leap Year : {leap_year}")

Start Year : 1950
End Year : 2000
Leap Year : [1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]

In [18]:
add = lambda x: x+10

print(add(20))

expo = lambda x: x**x
print(expo(5))

is_event = lambda a: a % 2 == 0
print(is_event(3))

area = lambda b,h: b * h / 2
print(area(10,20))

30
3125
False
100.0

In [25]:
my_list = ['Veasna','Hong','Dalin','Vichet','Chan','Heng','Chen']

search = input("Enter name:")

result = [name for name in my_list if name.lower().startswith(search.lower())]

print(result)

['Chan', 'Chen']

In [1]:
n = 5 
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [2]:
n = 9 
for i in range (1, n+1):
    print(''*(n - 1), end="")
    for j in range (1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789

In [3]:
n = 5 
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [5]:
n = 5 
for i in range (1,n+1):
    print(' '*(n - i), end="")
    for j in range(1, i+1):
        print(j,end="")
        
    for j in range (i-1,0,-1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321

In [2]:
c = 890567432
result = int(str(c)[::-1])
print(result)

234765098

In [5]:
c = int(input("Enter a number: "))
reverse = 0

while c > 0:
    digit = c % 10  # Get the last digit
    reverse = reverse * 10 + digit  # Shift the reverse number left and add the digit
    c = c // 10  # Remove the last digit from the original number

print(reverse)

652

In [6]:
print(eval(input("::")))

-24

In [34]:
_python_class = [1001,202,3003,6006,404]
_cpp_class = [202,100,804,502,303]
_java_class = [3003,202,101,303]

python_class = set(_python_class)
cpp_class = set(_cpp_class)
java_class = set(_java_class)

python_only = list(python_class.difference(cpp_class,java_class))
print(f" 1. The Python class : {python_only}")

cpp_only = list(cpp_class.difference(python_class,java_class))
print(f" 2. The CPP class : {cpp_only}")

java_only = list(java_class.difference(python_class,cpp_class))
print(f" 3. The Java class : {java_only}")


python_and_cpp = list(python_class & cpp_class)
print(f" 4. The Python and CPP class : {python_and_cpp}")

cpp_and_java = list(cpp_class & java_class)
print(f" 5. The Java and CPP class : {cpp_and_java}")

python_and_java = list(python_class & java_class)
print(f" 6. The Python and Java class : {python_and_java}")

all_class = list(python_class & cpp_class & java_class)
print(f" 7. The All class : {all_class}")

 1. The Python class : [1001, 404, 6006]
 2. The CPP class : [100, 502, 804]
 3. The Java class : [101]
 4. The Python and CPP class : [202]
 5. The Java and CPP class : [202, 303]
 6. The Python and Java class : [202, 3003]
 7. The All class : [202]

In [1]:
a = 300 
b = 300
print(a is b)

False